doctype html
html
  head
    title Ayush Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo
                img(src="/static/img/logo.png")
                | MDA
            li #[a(href='/') Home ]
            li #[a(href='/') About Us ]
            li #[a(href='/contact') Contact ]
            li #[a(href='/') Services]
            li #[a(href='/') Class Info.]
                
    block content
    footer#footer 
        | Copyright@2021 AyushDanceAcademy